@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic);

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif !important;
}

.spaceBox{
  margin:5px 0;
  padding:5px;
}

.centerText{
  text-align:center;
}
